#divWrapper {
    width: 100%;
    height: 100%;
}

#imgWrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

#imgWrap {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#title {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
    padding: 0;
    margin: 0;
}

h1 {
    margin: 0;
    padding: 0;
    color: darkgray;
}

li a {
    text-decoration: none;
    color: white;
}

ul {
    padding: 60;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 10px;
    background: black;
    list-style-type: none;
}

#title:hover>audio {
    display: block;
}

li {
    margin: 0px;
    padding: 0px;
    padding-left: 0px;
    background-color: #000000;
    color: aliceblue;
    margin: 0 20px;
}

body {
    background-image: url(astronomy-beautiful-clouds-355465.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
    color: white;
    text-decoration: none;
}

text {
    background: #000000;
}

#audio {
    display: flex;
    justify-content: center;
    align-content: center;
}

h4 {
    color: darkgray;
}

a {
    color: darkorange;
}

#contactdiv {
    border: 30px double palevioletred;
    padding: 0%;
    margin: 0%;
}

.tic td {
    border: 3px dashed darkgray;
}

.tic td:hover {
    background: blueviolet;
}

table.tic {
    border: 10px double palevioletred;
    height: 500px;
    width: 500px;
}
table.connect { 
    height: 700px;
    width: 1000px;
    border: 10px double black;
    padding: 10px;
    margin: 30px;
    background-color: blue; 
}
.connect tr{
    height: 50px;
    width: 20px;
}
.connect td{
    height: 50px;
    width: 1000px;
    border: 2px solid yellow;
    border-radius: 100%;
    padding: 10px;
    margin: 10px;
    background-color: white;
}


.connect .Checkers {
    border-radius: 50%;
}

.connect .Red {
    background-color: red;
}

.connect .Black {
    background-color: black;
}
.connect td:hover{
    background-color: yellow;
}